modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["google-sheet:1.0.0", "resend:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
CONTACT_SPREADSHEET_ID = "1NQfmIO1kvfRnJVzFD7s7pkcdf6lluRb2pF9kQS6uGxI"
CONTACT_NOTIFY_EMAIL = "info@infotraff.org"
Github = "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"
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 = "Rep"
